<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{categories.name}"></title>
</head>
<body>
<div th:if="${not categories.isEmpty()}">
    <table class="table">
        <tr th:each="category: ${categories}">
            <td><img th:src="${'/' + category.picture}" alt="picture" height="200"></td>
            <td><a th:href='${"/" + category.name}' th:text="#{'category.' + ${category.name}}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>